I APOLOGIZE IN ADVANCE! YOU WILL KNOW WHY! MUCH SORRY! I WAS ALREADY TOO FAR INTO THE HOMEWORK TO CHANGE IT!

# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
#find the unique school names in the data set
unique  = school_data_complete["school_name"].unique()

#convert that object into dataframe
#use the describe function to get the count
number_of_schools = pd.DataFrame(unique).describe().loc["count", 0]
number_of_schools
print(f"There are {number_of_schools} schools in total.")

#determining the total number of students
number_of_students = school_data_complete.describe().loc["count", "Student ID"]
number_of_students
print(f"There are {int(number_of_students):,} students in total.")

#calculate the school budget
total_budget = school_data["budget"].sum()
print(f"The total budget is ${int(total_budget):,}")

#calculate the average math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score
print(f"The average math score is {round(avg_math_score, 2)}")

#calculate the average reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score
print(f"The average reading score is {round(avg_reading_score, 2)}")

#calculate the overall average score, math and reading combined
avg_overall_score = (avg_math_score + avg_reading_score)/2
avg_overall_score
print(f"The overall average is {round(avg_overall_score, 2)}")

#calculating the percentage of students whom passed with 70 or greater in math
passing_math_score = school_data_complete["math_score"] >= 70
passingmathcount = school_data_complete.loc[passing_math_score].describe().loc["count", "Student ID"]
passing_math_score_percentage = (passingmathcount/number_of_students)*100
print(f"The percentage of passing math score is {round(passing_math_score_percentage, 2)}%")

passing_reading_score = school_data_complete["reading_score"] >= 70
passingreadingcount = school_data_complete.loc[passing_reading_score].describe().loc["count", "Student ID"]
passing_reading_score_percentage = (passingreadingcount/number_of_students)*100
print(f"The percentage of passing reading score is {round(passing_reading_score_percentage, 2)}%")

dis_summmary = pd.DataFrame({"Total Schools":number_of_schools, "Total Students":number_of_students, 
                             "Total Budget":total_budget, "Math Average":avg_math_score,
                             "Reading Average":avg_reading_score, "Overall Average": avg_overall_score, 
                             "Passing Math Percentage": passing_math_score_percentage, 
                             "Passing Reading Percentage": passing_reading_score_percentage}, index = [0])
dis_summmary

There are 15 schools in total.
There are 39,170 students in total.
The total budget is $24,649,428
The average math score is 78.99
The average reading score is 81.88
The overall average is 80.43

C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:37: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:38: RuntimeWarning: divide by zero encountered in multiply
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:38: RuntimeWarning: divide by zero encountered in rint
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:38: RuntimeWarning: divide by zero encountered in true_divide

The percentage of passing math score is 74.98%
The percentage of passing reading score is 85.81%

C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:42: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:43: RuntimeWarning: divide by zero encountered in multiply
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:43: RuntimeWarning: divide by zero encountered in rint
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:43: RuntimeWarning: divide by zero encountered in true_divide

,Total Schools,Total Students,Total Budget,Math Average,Reading Average,Overall Average,Passing Math Percentage,Passing Reading Percentage
0,15,39170.0,24649428,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [9]:
#using group by to organize the data set by school name, then performing count to get the student accounts
grouped_school_df = school_data_complete.groupby(['school_name'])

#Bailey
bailey_students = school_data_complete.groupby(['school_name']).count().loc["Bailey High School", "Student ID"]
bailey_type = school_data.loc[school_data["school_name"]=="Bailey High School", "type"]
bailey_budget = school_data.loc[school_data["school_name"]=="Bailey High School", "budget"]
bailey_per_stu_budget = bailey_budget/bailey_students
bailey_avg_math = grouped_school_df.mean().loc["Bailey High School", "math_score"]
bailey_avg_rd = grouped_school_df.mean().loc["Bailey High School", "reading_score"]

bailey_df = school_data_complete.loc[school_data_complete["school_name"]=="Bailey High School",:]
bailey_math_pass = bailey_df.loc[passing_math_score]
bailey_math_pass_count = bailey_math_pass.describe().loc["count", "Student ID"]
bailey_math_pass_perc = (bailey_math_pass_count/bailey_students)*100

bailey_read_pass = bailey_df.loc[passing_reading_score]
bailey_read_pass_count = bailey_read_pass.describe().loc["count", "Student ID"]
bailey_read_pass_perc = (bailey_read_pass_count/bailey_students)*100
bailey_overall_pass_score = (bailey_math_pass_perc+bailey_read_pass_perc)/2



# Cabrera
cabrera_students = school_data_complete.groupby(['school_name']).count().loc["Cabrera High School", "Student ID"]
cabrera_type = school_data.loc[school_data["school_name"]=="Cabrera High School", "type"] 
cabrera_budget = school_data.loc[school_data["school_name"]=="Cabrera High School", "budget"]
cabrera_per_stu_budget = cabrera_budget/cabrera_students
cabrera_avg_math = grouped_school_df.mean().loc["Cabrera High School", "math_score"]
cabrera_avg_rd = grouped_school_df.mean().loc["Cabrera High School", "reading_score"]

cabrera_df = school_data_complete.loc[school_data_complete["school_name"]=="Cabrera High School",:]
cabrera_math_pass = cabrera_df.loc[passing_math_score]
cabrera_math_pass_count = cabrera_math_pass.describe().loc["count", "Student ID"]
cabrera_math_pass_perc = (cabrera_math_pass_count/cabrera_students)*100

cabrera_read_pass = cabrera_df.loc[passing_reading_score]
cabrera_read_pass_count = cabrera_read_pass.describe().loc["count", "Student ID"]
cabrera_read_pass_perc = (cabrera_read_pass_count/cabrera_students)*100
cabrera_overall_pass_score = (cabrera_math_pass_perc+cabrera_read_pass_perc)/2

# Figueroa
figueroa_students = school_data_complete.groupby(['school_name']).count().loc["Figueroa High School", "Student ID"]
figueroa_type = school_data.loc[school_data["school_name"]=="Figueroa High School", "type"]
figueroa_budget = school_data.loc[school_data["school_name"]=="Figueroa High School", "budget"]
figueroa_per_stu_budget = figueroa_budget/figueroa_students
figueroa_avg_math = grouped_school_df.mean().loc["Figueroa High School", "math_score"]
figueroa_avg_rd = grouped_school_df.mean().loc["Figueroa High School", "reading_score"]

figueroa_df = school_data_complete.loc[school_data_complete["school_name"]=="Figueroa High School",:]
figueroa_math_pass = figueroa_df.loc[passing_math_score]
figueroa_math_pass_count = figueroa_math_pass.describe().loc["count", "Student ID"]
figueroa_math_pass_perc = (figueroa_math_pass_count/figueroa_students)*100

figueroa_read_pass = figueroa_df.loc[passing_reading_score]
figueroa_read_pass_count = figueroa_read_pass.describe().loc["count", "Student ID"]
figueroa_read_pass_perc = (figueroa_read_pass_count/figueroa_students)*100
figueroa_overall_pass_score = (figueroa_math_pass_perc+figueroa_read_pass_perc)/2



# Ford
ford_students = school_data_complete.groupby(['school_name']).count().loc["Ford High School", "Student ID"]
ford_type = school_data.loc[school_data["school_name"]=="Ford High School", "type"]
ford_budget = school_data.loc[school_data["school_name"]=="Ford High School", "budget"]
ford_per_stu_budget = ford_budget/ford_students
ford_avg_math = grouped_school_df.mean().loc["Ford High School", "math_score"]
ford_avg_rd = grouped_school_df.mean().loc["Ford High School", "reading_score"]

ford_df = school_data_complete.loc[school_data_complete["school_name"]=="Figueroa High School",:]
ford_math_pass = ford_df.loc[passing_math_score]
ford_math_pass_count = ford_math_pass.describe().loc["count", "Student ID"]
ford_math_pass_perc = (ford_math_pass_count/ford_students)*100

ford_read_pass = ford_df.loc[passing_reading_score]
ford_read_pass_count = ford_read_pass.describe().loc["count", "Student ID"]
ford_read_pass_perc = (ford_read_pass_count/ford_students)*100
ford_overall_pass_score = (ford_math_pass_perc+ford_read_pass_perc)/2

# Griffin
griffin_students = school_data_complete.groupby(['school_name']).count().loc["Griffin High School", "Student ID"]
griffin_type = school_data.loc[school_data["school_name"]=="Griffin High School", "type"]
griffin_budget = school_data.loc[school_data["school_name"]=="Griffin High School", "budget"]
griffin_per_stu_budget = griffin_budget/griffin_students
griffin_avg_math = grouped_school_df.mean().loc["Griffin High School", "math_score"]
griffin_avg_rd = grouped_school_df.mean().loc["Griffin High School", "reading_score"]

griffin_df = school_data_complete.loc[school_data_complete["school_name"]=="Griffin High School",:]
griffin_math_pass = griffin_df.loc[passing_math_score]
griffin_math_pass_count = griffin_math_pass.describe().loc["count", "Student ID"]
griffin_math_pass_perc = (griffin_math_pass_count/griffin_students)*100

griffin_read_pass = griffin_df.loc[passing_reading_score]
griffin_read_pass_count = griffin_read_pass.describe().loc["count", "Student ID"]
griffin_read_pass_perc = (griffin_read_pass_count/griffin_students)*100
griffin_overall_pass_score = (griffin_math_pass_perc+griffin_read_pass_perc)/2



# Hernandez
hernandez_students = school_data_complete.groupby(['school_name']).count().loc["Hernandez High School", "Student ID"]
hernandez_type = school_data.loc[school_data["school_name"]=="Hernandez High School", "type"]
hernandez_budget = school_data.loc[school_data["school_name"]=="Hernandez High School", "budget"]
hernandez_per_stu_budget = hernandez_budget/hernandez_students
hernandez_avg_math = grouped_school_df.mean().loc["Hernandez High School", "math_score"]
hernandez_avg_rd = grouped_school_df.mean().loc["Hernandez High School", "reading_score"]

hernandez_df = school_data_complete.loc[school_data_complete["school_name"]=="Hernandez High School",:]
hernandez_math_pass = hernandez_df.loc[passing_math_score]
hernandez_math_pass_count = hernandez_math_pass.describe().loc["count", "Student ID"]
hernandez_math_pass_perc = (hernandez_math_pass_count/hernandez_students)*100

hernandez_read_pass = hernandez_df.loc[passing_reading_score]
hernandez_read_pass_count = hernandez_read_pass.describe().loc["count", "Student ID"]
hernandez_read_pass_perc = (hernandez_read_pass_count/hernandez_students)*100
hernandez_overall_pass_score = (hernandez_math_pass_perc+hernandez_read_pass_perc)/2


# Holden
holden_students = school_data_complete.groupby(['school_name']).count().loc["Holden High School", "Student ID"]
holden_type = school_data.loc[school_data["school_name"]=="Holden High School", "type"]
holden_budget = school_data.loc[school_data["school_name"]=="Holden High School", "budget"]
holden_per_stu_budget = holden_budget/holden_students
holden_avg_math = grouped_school_df.mean().loc["Holden High School", "math_score"]
holden_avg_rd = grouped_school_df.mean().loc["Holden High School", "reading_score"]

holden_df = school_data_complete.loc[school_data_complete["school_name"]=="Holden High School",:]
holden_math_pass = holden_df.loc[passing_math_score]
holden_math_pass_count = holden_math_pass.describe().loc["count", "Student ID"]
holden_math_pass_perc = (holden_math_pass_count/holden_students)*100

holden_read_pass = holden_df.loc[passing_reading_score]
holden_read_pass_count = holden_read_pass.describe().loc["count", "Student ID"]
holden_read_pass_perc = (holden_read_pass_count/holden_students)*100
holden_overall_pass_score = (holden_math_pass_perc+holden_read_pass_perc)/2

# Huang
huang_students = school_data_complete.groupby(['school_name']).count().loc["Huang High School", "Student ID"]
huang_type = school_data.loc[school_data["school_name"]=="Huang High School", "type"]
huang_budget = school_data.loc[school_data["school_name"]=="Huang High School", "budget"]
huang_per_stu_budget = huang_budget/huang_students
huang_avg_math = grouped_school_df.mean().loc["Huang High School", "math_score"]
huang_avg_rd = grouped_school_df.mean().loc["Huang High School", "reading_score"]

huang_df = school_data_complete.loc[school_data_complete["school_name"]=="Huang High School",:]
huang_math_pass = huang_df.loc[passing_math_score]
huang_math_pass_count = huang_math_pass.describe().loc["count", "Student ID"]
huang_math_pass_perc = (huang_math_pass_count/huang_students)*100

huang_read_pass = huang_df.loc[passing_reading_score]
huang_read_pass_count = huang_read_pass.describe().loc["count", "Student ID"]
huang_read_pass_perc = (huang_read_pass_count/huang_students)*100
huang_overall_pass_score = (huang_math_pass_perc+huang_read_pass_perc)/2


# Johnson
johnson_students = school_data_complete.groupby(['school_name']).count().loc["Johnson High School", "Student ID"]
johnson_type = school_data.loc[school_data["school_name"]=="Jognson High School", "type"]
johnson_budget = school_data.loc[school_data["school_name"]=="Johnson High School", "budget"]
johnson_per_stu_budget = johnson_budget/johnson_students
johnson_avg_math = grouped_school_df.mean().loc["Johnson High School", "math_score"]
johnson_avg_rd = grouped_school_df.mean().loc["Johnson High School", "reading_score"]

johnson_df = school_data_complete.loc[school_data_complete["school_name"]=="Johnson High School",:]
johnson_math_pass = johnson_df.loc[passing_math_score]
johnson_math_pass_count = johnson_math_pass.describe().loc["count", "Student ID"]
johnson_math_pass_perc = (johnson_math_pass_count/johnson_students)*100

johnson_read_pass = johnson_df.loc[passing_reading_score]
johnson_read_pass_count = johnson_read_pass.describe().loc["count", "Student ID"]
johnson_read_pass_perc = (johnson_read_pass_count/johnson_students)*100
johnson_overall_pass_score = (johnson_math_pass_perc+johnson_read_pass_perc)/2

# Pena
pena_students = school_data_complete.groupby(['school_name']).count().loc["Pena High School", "Student ID"]
pena_type = school_data.loc[school_data["school_name"]=="Pena High School", "type"]
pena_budget = school_data.loc[school_data["school_name"]=="Pena High School", "budget"]
pena_per_stu_budget = pena_budget/pena_students
pena_avg_math = grouped_school_df.mean().loc["Pena High School", "math_score"]
pena_avg_rd = grouped_school_df.mean().loc["Pena High School", "reading_score"]

pena_df = school_data_complete.loc[school_data_complete["school_name"]=="Pena High School",:]
pena_math_pass = pena_df.loc[passing_math_score]
pena_math_pass_count = pena_math_pass.describe().loc["count", "Student ID"]
pena_math_pass_perc = (pena_math_pass_count/pena_students)*100

pena_read_pass = pena_df.loc[passing_reading_score]
pena_read_pass_count = pena_read_pass.describe().loc["count", "Student ID"]
pena_read_pass_perc = (pena_read_pass_count/pena_students)*100
pena_overall_pass_score = (pena_math_pass_perc+pena_read_pass_perc)/2

# Rodriguez
rodriguez_students = school_data_complete.groupby(['school_name']).count().loc["Rodriguez High School", "Student ID"]
rodriguez_type = school_data.loc[school_data["school_name"]=="Rodriguez High School", "type"]
rodriguez_budget = school_data.loc[school_data["school_name"]=="Rodriguez High School", "budget"]
rodriguez_per_stu_budget = rodriguez_budget/rodriguez_students
rodriguez_avg_math = grouped_school_df.mean().loc["Rodriguez High School", "math_score"]
rodriguez_avg_rd = grouped_school_df.mean().loc["Rodriguez High School", "reading_score"]

rodriguez_df = school_data_complete.loc[school_data_complete["school_name"]=="Rodriguez High School",:]
rodriguez_math_pass = rodriguez_df.loc[passing_math_score]
rodriguez_math_pass_count = rodriguez_math_pass.describe().loc["count", "Student ID"]
rodriguez_math_pass_perc = (rodriguez_math_pass_count/rodriguez_students)*100

rodriguez_read_pass = rodriguez_df.loc[passing_reading_score]
rodriguez_read_pass_count = rodriguez_read_pass.describe().loc["count", "Student ID"]
rodriguez_read_pass_perc = (rodriguez_read_pass_count/rodriguez_students)*100
rodriguez_overall_pass_score = (rodriguez_math_pass_perc+rodriguez_read_pass_perc)/2


# Shelton
shelton_students = school_data_complete.groupby(['school_name']).count().loc["Shelton High School", "Student ID"]
shelton_type = school_data.loc[school_data["school_name"]=="Shelton High School", "type"]
shelton_budget = school_data.loc[school_data["school_name"]=="Shelton High School", "budget"]
shelton_per_stu_budget = shelton_budget/shelton_students
shelton_avg_math = grouped_school_df.mean().loc["Shelton High School", "math_score"]
shelton_avg_rd = grouped_school_df.mean().loc["Shelton High School", "reading_score"]

shelton_df = school_data_complete.loc[school_data_complete["school_name"]=="Shelton High School",:]
shelton_math_pass = shelton_df.loc[passing_math_score]
shelton_math_pass_count = shelton_math_pass.describe().loc["count", "Student ID"]
shelton_math_pass_perc = (shelton_math_pass_count/shelton_students)*100

shelton_read_pass = shelton_df.loc[passing_reading_score]
shelton_read_pass_count = shelton_read_pass.describe().loc["count", "Student ID"]
shelton_read_pass_perc = (shelton_read_pass_count/shelton_students)*100
shelton_overall_pass_score = (shelton_math_pass_perc+shelton_read_pass_perc)/2


# Thomas
thomas_students = school_data_complete.groupby(['school_name']).count().loc["Thomas High School", "Student ID"]
thomas_type = school_data.loc[school_data["school_name"]=="Thomas High School", "type"]
thomas_budget = school_data.loc[school_data["school_name"]=="Thomas High School", "budget"]
thomas_per_stu_budget = thomas_budget/thomas_students
thomas_avg_math = grouped_school_df.mean().loc["Thomas High School", "math_score"]
thomas_avg_rd = grouped_school_df.mean().loc["Thomas High School", "reading_score"]

thomas_df = school_data_complete.loc[school_data_complete["school_name"]=="Thomas High School",:]
thomas_math_pass = thomas_df.loc[passing_math_score]
thomas_math_pass_count = thomas_math_pass.describe().loc["count", "Student ID"]
thomas_math_pass_perc = (thomas_math_pass_count/thomas_students)*100

thomas_read_pass = thomas_df.loc[passing_reading_score]
thomas_read_pass_count = thomas_read_pass.describe().loc["count", "Student ID"]
thomas_read_pass_perc = (thomas_read_pass_count/thomas_students)*100
thomas_overall_pass_score = (thomas_math_pass_perc+thomas_read_pass_perc)/2


# Wilson
wilson_students = school_data_complete.groupby(['school_name']).count().loc["Wilson High School", "Student ID"]
wilson_type = school_data.loc[school_data["school_name"]=="Wilson High School", "type"]
wilson_budget = school_data.loc[school_data["school_name"]=="Wilson High School", "budget"]
wilson_per_stu_budget = wilson_budget/wilson_students
wilson_avg_math = grouped_school_df.mean().loc["Wilson High School", "math_score"]
wilson_avg_rd = grouped_school_df.mean().loc["Wilson High School", "reading_score"]

wilson_df = school_data_complete.loc[school_data_complete["school_name"]=="Wilson High School",:]
wilson_math_pass = wilson_df.loc[passing_math_score]
wilson_math_pass_count = wilson_math_pass.describe().loc["count", "Student ID"]
wilson_math_pass_perc = (wilson_math_pass_count/wilson_students)*100

wilson_read_pass = wilson_df.loc[passing_reading_score]
wilson_read_pass_count = wilson_read_pass.describe().loc["count", "Student ID"]
wilson_read_pass_perc = (wilson_read_pass_count/wilson_students)*100
wilson_overall_pass_score = (wilson_math_pass_perc+wilson_read_pass_perc)/2

# Wright
wright_students = school_data_complete.groupby(['school_name']).count().loc["Wright High School", "Student ID"]
wright_type = school_data.loc[school_data["school_name"]=="Wright High School", "type"]
wright_budget = school_data.loc[school_data["school_name"]=="Wright High School", "budget"]
wright_per_stu_budget = wright_budget/wright_students
wright_avg_math = grouped_school_df.mean().loc["Wright High School", "math_score"]
wright_avg_rd = grouped_school_df.mean().loc["Wright High School", "reading_score"]

wright_df = school_data_complete.loc[school_data_complete["school_name"]=="Wright High School",:]
wright_math_pass = wright_df.loc[passing_math_score]
wright_math_pass_count = wright_math_pass.describe().loc["count", "Student ID"]
wright_math_pass_perc = (wright_math_pass_count/wright_students)*100

wright_read_pass = wright_df.loc[passing_reading_score]
wright_read_pass_count  = wright_read_pass.describe().loc["count", "Student ID"]
wright_read_pass_perc = (wright_read_pass_count/wright_students)*100
wright_overall_pass_score = (wright_math_pass_perc+wright_read_pass_perc)/2


school_names = ["Bailey High School","Cabrera High School","Figueroa High School","Ford High School","Griffin High School",
               "Hernandez High School","Holden High School","Huang High School","Johnson High School","Pena High School",
               "Rodriguez High School","Shelton High School","Thomas High School","Wilson High School","Wright High School"]

school_type = school_data.loc[:, "type"]

total_students = [bailey_students, cabrera_students, figueroa_students, ford_students, griffin_students, hernandez_students, 
                  holden_students, huang_students, johnson_students, pena_students, rodriguez_students, shelton_students, 
                  thomas_students, wilson_students, wright_students]

school_budget = school_data.loc[:, "budget"]

per_stu_budget = school_budget/total_students

avg_math = [bailey_avg_math, cabrera_avg_math, figueroa_avg_math, ford_avg_math, griffin_avg_math, hernandez_avg_math, 
            holden_avg_math, huang_avg_math, johnson_avg_math, pena_avg_math, rodriguez_avg_math, shelton_avg_math, 
            thomas_avg_math, wilson_avg_math, wright_avg_math]


avg_rd = [bailey_avg_rd, cabrera_avg_rd, figueroa_avg_rd, ford_avg_rd, griffin_avg_rd, hernandez_avg_rd, holden_avg_rd, 
          huang_avg_rd, johnson_avg_rd, pena_avg_rd, rodriguez_avg_rd, shelton_avg_rd, thomas_avg_rd, wilson_avg_rd, 
          wright_avg_rd]


math_pass = [bailey_math_pass_perc, cabrera_math_pass_perc, figueroa_math_pass_perc, ford_math_pass_perc, 
              griffin_math_pass_perc, hernandez_math_pass_perc, holden_math_pass_perc, huang_math_pass_perc, 
              johnson_math_pass_perc, pena_math_pass_perc, rodriguez_math_pass_perc, shelton_math_pass_perc, 
              thomas_math_pass_perc, wilson_math_pass_perc, wright_math_pass_perc]


read_pass = [bailey_read_pass_perc, cabrera_read_pass_perc, figueroa_read_pass_perc, ford_read_pass_perc, 
             griffin_read_pass_perc, hernandez_read_pass_perc, holden_read_pass_perc, huang_read_pass_perc, 
             johnson_read_pass_perc, pena_read_pass_perc, rodriguez_read_pass_perc, shelton_read_pass_perc, 
             thomas_read_pass_perc, wilson_read_pass_perc, wright_read_pass_perc]

overall_pass_score = [bailey_overall_pass_score, cabrera_overall_pass_score, figueroa_overall_pass_score, 
                      ford_overall_pass_score, griffin_overall_pass_score, hernandez_overall_pass_score, 
                      holden_overall_pass_score, huang_overall_pass_score, johnson_overall_pass_score, 
                      pena_overall_pass_score, rodriguez_overall_pass_score, shelton_overall_pass_score, 
                      thomas_overall_pass_score, wilson_overall_pass_score, wright_overall_pass_score]

school_summary_df = pd.DataFrame({"School Name": school_names, "School Type" : school_type, "Total Students": total_students,
                                 "Total School Budget": school_budget, "Per Student Budget":per_stu_budget, 
                                  "Average Math Score":avg_math, "Average Reading Score":avg_rd,
                                 "Percentage of Students Passing Math": math_pass,
                                 "Percentage of Students Passing Reading":read_pass,
                                 "Overall Passing Rate":overall_pass_score})
school_summary_df

C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: RuntimeWarning: divide by zero encountered in double_scalars
  from ipykernel import kernelapp as app
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:35: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:39: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:40: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:53: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:57: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:58: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:73: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:77: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:78: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:91: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:95: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:96: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:111: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:115: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:116: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:130: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:134: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:135: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:148: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:152: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:153: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:167: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:171: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:172: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:185: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:189: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:190: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:203: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:207: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:208: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:222: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:226: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:227: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:241: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:245: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:246: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:260: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:264: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:265: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:278: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:282: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:283: RuntimeWarning: divide by zero encountered in double_scalars

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Overall Passing Rate
0,Bailey High School,District,4976,1910635,383.970056,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,District,1858,1884411,1014.214747,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,Charter,2949,1056600,358.290946,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,District,2739,3022020,1103.329682,77.102592,80.746258,71.047828,86.929536,78.988682
4,Griffin High School,Charter,1468,917500,625.000000,83.351499,83.816757,93.392371,97.138965,95.265668
5,Hernandez High School,Charter,4635,1319574,284.697735,77.289752,80.934412,66.752967,80.862999,73.807983
6,Holden High School,Charter,427,1081356,2532.449649,83.803279,83.814988,92.505855,96.252927,94.379391
7,Huang High School,District,2917,3124928,1071.281454,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,Charter,4761,248087,52.108171,77.072464,80.966394,66.057551,81.222432,73.639992
9,Pena High School,Charter,962,585858,609.000000,83.839917,84.044699,94.594595,95.945946,95.270270
10,Rodriguez High School,Charter,3999,1049400,262.415604,76.842711,80.744686,66.366592,80.220055,73.293323
11,Shelton High School,District,1761,2547363,1446.543441,83.359455,83.725724,93.867121,95.854628,94.860875
12,Thomas High School,District,1635,3094650,1892.752294,83.418349,83.848930,93.272171,97.308869,95.290520
13,Wilson High School,District,2283,1763916,772.630749,83.274201,83.989488,93.867718,96.539641,95.203679
14,Wright High School,Charter,1800,1043130,579.516667,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [15]:
top_school = school_summary_df.sort_values(["Overall Passing Rate"], ascending=False )
top_school.head()

C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\dtypes\missing.py:220: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\sorting.py:267: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\sorting.py:268: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2608: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\numpy\core\_methods.py:43: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2613: RuntimeWarning: divide by zero encountered in greater_equal
  mask = (indices >= n) | (indices < 0)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2613: RuntimeWarning: divide by zero encountered in less
  mask = (indices >= n) | (indices < 0)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2613: RuntimeWarning: divide by zero encountered in bitwise_or
  mask = (indices >= n) | (indices < 0)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\algorithms.py:1615: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\internals\managers.py:200: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\dtypes\missing.py:336: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:964: RuntimeWarning: divide by zero encountered in bitwise_and
  is_float_type = lib.map_infer(vals, is_float) & notna(vals)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1077: RuntimeWarning: divide by zero encountered in invert
  imask = (~mask).ravel()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1113: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1117: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1118: RuntimeWarning: divide by zero encountered in less
  has_small_values = ((abs_vals < 10**(-self.digits)) &
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1119: RuntimeWarning: divide by zero encountered in greater
  (abs_vals > 0)).any()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1119: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals > 0)).any()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\numpy\core\_methods.py:28: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:649: RuntimeWarning: divide by zero encountered in long_scalars
  for x in idx]).max() + adjoin_width
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1559: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1560: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1564: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1562: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Overall Passing Rate
1,Cabrera High School,District,1858,1884411,1014.214747,83.061895,83.975780,94.133477,97.039828,95.586652
12,Thomas High School,District,1635,3094650,1892.752294,83.418349,83.848930,93.272171,97.308869,95.290520
9,Pena High School,Charter,962,585858,609.000000,83.839917,84.044699,94.594595,95.945946,95.270270
4,Griffin High School,Charter,1468,917500,625.000000,83.351499,83.816757,93.392371,97.138965,95.265668
13,Wilson High School,District,2283,1763916,772.630749,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [14]:
worst_schools = school_summary_df.sort_values(["Overall Passing Rate"], ascending=True)
worst_schools.head()

C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\dtypes\missing.py:220: RuntimeWarning: divide by zero encountered in isnan
  result = np.isnan(values)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\sorting.py:267: RuntimeWarning: divide by zero encountered in invert
  non_nans = items[~mask]
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\sorting.py:268: RuntimeWarning: divide by zero encountered in invert
  non_nan_idx = idx[~mask]
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2608: RuntimeWarning: divide by zero encountered in less
  mask = indices < 0
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\numpy\core\_methods.py:43: RuntimeWarning: divide by zero encountered in reduce
  return umr_any(a, axis, dtype, out, keepdims)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2613: RuntimeWarning: divide by zero encountered in greater_equal
  mask = (indices >= n) | (indices < 0)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2613: RuntimeWarning: divide by zero encountered in less
  mask = (indices >= n) | (indices < 0)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:2613: RuntimeWarning: divide by zero encountered in bitwise_or
  mask = (indices >= n) | (indices < 0)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\algorithms.py:1615: RuntimeWarning: divide by zero encountered in equal
  mask = indexer == -1
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\internals\managers.py:200: RuntimeWarning: divide by zero encountered in equal
  if (new_blknos == -1).any():
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\dtypes\missing.py:336: RuntimeWarning: divide by zero encountered in invert
  return ~res
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:964: RuntimeWarning: divide by zero encountered in bitwise_and
  is_float_type = lib.map_infer(vals, is_float) & notna(vals)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1077: RuntimeWarning: divide by zero encountered in invert
  imask = (~mask).ravel()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1113: RuntimeWarning: divide by zero encountered in absolute
  abs_vals = np.abs(self.values)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1117: RuntimeWarning: divide by zero encountered in greater
  has_large_values = (abs_vals > 1e6).any()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1118: RuntimeWarning: divide by zero encountered in less
  has_small_values = ((abs_vals < 10**(-self.digits)) &
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1119: RuntimeWarning: divide by zero encountered in greater
  (abs_vals > 0)).any()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1119: RuntimeWarning: divide by zero encountered in bitwise_and
  (abs_vals > 0)).any()
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\numpy\core\_methods.py:28: RuntimeWarning: divide by zero encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial)
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:649: RuntimeWarning: divide by zero encountered in long_scalars
  for x in idx]).max() + adjoin_width
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1559: RuntimeWarning: divide by zero encountered in long_scalars
  w_adjoined = w + adjoin_width
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1560: RuntimeWarning: divide by zero encountered in long_scalars
  curr_width += w_adjoined
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1564: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 2 > line_width and i > 0
C:\Users\paike\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\formats\format.py:1562: RuntimeWarning: divide by zero encountered in long_scalars
  wrap = curr_width + 1 > line_width and i > 0

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Overall Passing Rate
10,Rodriguez High School,Charter,3999,1049400,262.415604,76.842711,80.744686,66.366592,80.220055,73.293323
2,Figueroa High School,Charter,2949,1056600,358.290946,76.711767,81.158020,65.988471,80.739234,73.363852
7,Huang High School,District,2917,3124928,1071.281454,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,Charter,4761,248087,52.108171,77.072464,80.966394,66.057551,81.222432,73.639992
5,Hernandez High School,Charter,4635,1319574,284.697735,77.289752,80.934412,66.752967,80.862999,73.807983

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [17]:
ninth_grd_score = school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name").mean()["math_score"]
tenth_grd_score = school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name").mean()["math_score"]
eleventh_grd_score = school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name").mean()["math_score"]
twelfth_grd_score = school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name").mean()["math_score"]


math_summary = pd.DataFrame({"9th Grade" :ninth_grd_score,
                            "10th Grade" :tenth_grd_score,
                            "11th Grade" :eleventh_grd_score,
                            "12th Grade" :twelfth_grd_score})
math_summary

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [18]:
ninth_grd_score = school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name").mean()["reading_score"]
tenth_grd_score = school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name").mean()["reading_score"]
eleventh_grd_score = school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name").mean()["reading_score"]
twelfth_grd_score = school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name").mean()["reading_score"]


read_summary = pd.DataFrame({"9th Grade" :ninth_grd_score,
                            "10th Grade" :tenth_grd_score,
                            "11th Grade" :eleventh_grd_score,
                            "12th Grade" :twelfth_grd_score})
read_summary

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [39]:
# Sample bins. Feel free to create your own bins.
spend_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [54]:
school_data_complete["Spending Ranges"] = pd.cut(school_data_complete, spend_bins, labels=group_names)

school_spending_grouped = school_data_complete.groupby("Spending Ranges").mean()

del school_spending_grouped['School Name']
del school_spending_grouped['School Type']
del school_spending_grouped['Total Students']
del school_spending_grouped['Total School Budgey']
del school_spending_grouped['Per Student Budget']

school_spending_grouped

ValueError: Input array must be 1 dimensional

## Scores by School Size

* Perform the same operations as above, based on school size.

In [41]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757